
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örnegi - Kategori</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>açıklama yaptık</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>açıklama yapıldı</td>
        <td>true</td>
    </tr>
</table>